<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Type</th>
        <th>Description</th>
        <th>DOM</th>
        <th>DOE</th>
    </thead>
    <tbody>
        <tr *ngFor='let product of products'>
            <td>{{product.ID}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>