<h1>Register Component</h1>
<p>register works!</p>

<div class="col-md-6 offset-md-3">
<form [formGroup]='registrationForm' (ngSubmit)='printForm()'>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"
        class="form-control" formControlName='name' id = "name">
        
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email"
        class="form-control" formControlName='email'>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName='password' class="form-control">
    </div>
    <button class="btn btn-primary" (click) = 'addSkill()'>Add Skill</button>
    <div formArrayName='skills' *ngFor='let control of registrationForm.get("skills").controls; index as i'>
        <div [formGroupNames]='i'></div>
       <div class="form-group">
            <label for="{{'skill' +(i+1)}}">Skill {{i+1}}</label>
            <input type="text" name="skill" id="{{'skill'+i}}" [formControlName]='i' class="form-control">
            <input type="radio" fromControlName='rating' value="beginner" id="{{'rating'+i+1}}">Beginner
            <input type="radio" fromControlName='rating' value="intermidiate" id="{{'rating'+i+2}}">Intermidiate
            <input type="radio" fromControlName='rating' value="expert" id="{{'rating'+i+3}}">Expert
            <button (click)='removeSkill(i)' type="button" class="btn btn-danger">&times;</button>
       </div>
    
    </div>
    <button type="submit" class="btn btn-outline-primary float-right">Submit</button>

</form>
</div>