<div class="alert alert-danger" *ngIf='error'>{{error}}</div>
<div class="col-md-4 offset-md-4 mt-5 card">
    <div class="card-body ">
        <form #registerForm='ngForm' (ngSubmit)='libregister(registerForm)'>
            <h1 class=" text-center bg-dark text-white">Libraraian Registration</h1>
            <input type="text" name="libid" id="libid" #name='ngModel' ngModel class="form-control mb-3"
                placeholder="Enter Your ID">
            <input type="text" name="name" id="name" #name='ngModel' ngModel class="form-control mb-3"
                placeholder="Enter Name">
            <input type="password" name="password" id="password" #password='ngModel' ngModel class="form-control mb-3"
                placeholder="Enter password">
            <input type="text" name="gender" id="gender" #name='ngModel' ngModel class="form-control mb-3"
                placeholder="Gender">
            <button type="submit" class="float-right btn btn-dark">Register</button>
        </form>
    </div>
</div>