<html>
<h2 style="text-align: center;">Cart</h2>
<input type="search" class="form-control"[(ngModel)]='search' placeholder="Search Book By Name">
            
<table class="table  table-bordered  table-dark mt-5 ml-2">
    <thead class="thread-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Price</th>
            <th scope="col">Price With Gst</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products|search:search">
            <td>{{product.oid}}</td>
            <td>{{product.total_price}}</td>
            <td>{{product.total_price_with_gst}}</td>
            <!-- (click)='delete(product)' -->
        </tr>
    </tbody>
</table>

</html>