<div id="for">
	<form class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="change(form)">
		<h4>Change password</h4><br>
		<div class="form-group">
			<input type="text" name="password" id="password" class="form-control" placeholder="current password"
				#from="ngModel" ngModel required>
			<div *ngIf="password.touched && password.invalid">
				<p class="alert alert-danger" *ngIf="password.errors.required">*This field is required</p>
			</div>
		</div>
		<div class="form-group">
			<input type="text" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="confirm Password"
				#to="ngModel" ngModel required>
			<div *ngIf="confirmPassword.touched && confirmPassword.invalid">
				<p class="alert alert-danger" *ngIf="confirmPassword.errors.required">*This field is required</p>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">change password</button>
		
			<a routerLink="/user"><button type="reset" class="btn btn-outline-success float-left">Back</button></a>
		</div>
	</form>
	
	</div>