<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">LMS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item active" *ngIf='isAdmin()'>
                <a class="nav-link" routerLink="/admin">Librarian</a>
            </li>
            <li class="nav-item active" *ngIf='isAdmin() || isUser()'>
                <a class="nav-link" routerLink="/user">Student</a>
            </li>
i 
        </ul>
        <ul class="navbar-nav active ml-auto">
           
            <li class="nav-item" *ngIf='!isLoggedIn()'>
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li class="nav-item" *ngIf='!isLoggedIn()'>
                    <a class="nav-link" routerLink="/libregister">Librarain Register</a>
            </li>
                

            <li class="nav-item active" *ngIf='!isLoggedIn()'>
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item active" *ngIf='!isLoggedIn()'>
                    <a class="nav-link" routerLink="/liblogin">Librarain Login</a>
            </li>

            <!-- -------------------
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Register
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <li> <a class="nav-link" routerLink="/register">Student</a></li>
                    <a class="nav-link" routerLink="/libregister">Librarain</a>
                </div>
            </li>

            ------------------ -->
                
            
            <li class="nav-item" *ngIf='isLoggedIn()'>
                <button class="btn btn-outline-light" (click)='logout()'>Logout</button>
            </li>
        </ul>
    </div>
</nav>
