<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul id="nab" class="navbar-nav mr-auto mt-2 mt-lg-0 ml-5">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/addbook">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/searchBook">Search Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/allBooks">Book List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/updatebook">Update Book</a>
            </li>
        </ul>
    </div>
</nav>